<header>

  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand text-success " href="manager">GEO INFOTECH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" routerLink='/manager' href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" routerLink='/courses' href="#">Courses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#"  routerLink='/resourcelist'tabindex="-1" aria-disabled="true">Resources</a>
                </li>
                
  
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Enquiry Summary
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="resourcesummary">Resources</a></li>
                    <li><a class="dropdown-item" href="courseenquirysummary">Courses</a></li>
                    
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href=""  routerLink='/pagevisit'tabindex="-1" aria-disabled="true">Page Visit</a>
                </li>
              </ul>
             
                <button class="btn btn-outline-success" (click)="LogOut()"type="submit">Logout</button>
            </div>
          </div>
        </nav> -->
  <app-managernav></app-managernav>
</header>

<br>
<br>
<br>
<br><br>
<div class="container">
  <div class="header">
    <h4 class="text-center">Resource Enquiry Summary</h4>

  </div>
  <br>
  <br>
  <form class="row g-3 " #form="ngForm" (ngSubmit)="onpress(form)" autocomplete="off">
    <div class="form-group col-md-10">
      <input type="date" id="filterdate" name="filterdate" #filterdate="ngModel" [(ngModel)]="this.date"
        class="form-control">
       
    </div>
    <div class="form-group col-md-2">
      <input type="submit" class="btn btn-info" value="Filter" >
    </div>
  </form>


<br>
<br>


  <ng-container *ngIf="issubmit">
    <table style="border:0;" class="table table-striped">
      <thead>
        <tr>
          <th>Resource Id</th>
          <th>Resource Name</th>
          <th>Enquiry Count</th>
          <th>Enquiry Date</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let r of resourceEnquiryService.resourceEnquiryCountbydate | filter:filter | paginate: {itemsPerPage:5, currentPage:page}">
          <td>{{r.ResourceId}}</td>
          <td>{{r.ResourceName}}</td>
          <td>{{ r.ResourceCount}}</td>
          <td>{{r.EnquiryDate|date:'yyyy-MM-dd'}}</td>
          <td>
            <button class="btn btn-info btn-sm" (click)="viewDetails(r.ResourceId)">View Details</button>
          </td>
        </tr>
      </tbody>
    </table>

  </ng-container>

  <ng-container *ngIf="!issubmit">
    <table style="border:0;" class="table table-striped">
      <thead>
        <tr>
          <th>Resource Id</th>
          <th>Resource Name</th>
          <th>Enquiry Count</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let r of resourceEnquiryService.resourceEnquiryCount | filter:filter | paginate: {itemsPerPage:5, currentPage:page}">
          <td>{{r.ResourceId}}</td>
          <td>{{r.ResourceName}}</td>
          <td>{{ r.ResourceCount}}</td>
          <td>
            <button class="btn btn-info btn-sm" (click)="viewDetails(r.ResourceId)">View Details</button>
          </td>
        </tr>
      </tbody>
    </table>

  </ng-container>

  <div class="footer">
    <!--pagination-->
    <pagination-controls (pageChange)="page=($event)"></pagination-controls>
  </div>
</div>