<body>
    <app-user-nav></app-user-nav>
    <br>
  <br>
  
  <br>
  <br>
<div class="container">
    <br>
<h3 class="text-center">Resource Enquiry Form</h3>
<form name="resourceEnquiry" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
    <!-- Resource Enquiry ID and lead ID Auto Generate hide from user -->
     <input type="hidden" name="ResourceId"
        [(ngModel)]="resourceEnquiryService.formData.ResourceId">
    

<!-- Lead id  -->
            
            <div class="form-group">

                <label for="LeadId"></label>
        
                <input type="hidden" name="LeadId" #LeadId="ngModel" [(ngModel)]="resourceEnquiryService.formData.LeadId"
                    class="form-control"
                    >
            </div>

    <!-- Lead Name  -->

    <div class="form-group">

        <label for="">Name</label>

        <input name="LeadName" #LeadName="ngModel" [(ngModel)]="leadService.formData.LeadName" class="form-control"
            placeholder="Enter your name" minlength="5" maxlength="25" required
            [ngClass]="{ 'is-invalid': LeadName.touched && LeadName.invalid}">
        <div class="validation-error" *ngIf="LeadName.touched && LeadName.invalid">

            <div *ngIf="LeadName.errors.required">Name is required</div>

        </div>
    </div>

    <!-- Lead Contact  -->

    <div class="form-group">

        <label for="contact">Contact</label>

        <input type="number" name="LeadContact" #LeadContact="ngModel" [(ngModel)]="leadService.formData.LeadContact"
            class="form-control" placeholder="Enter your Contact Number" maxlength="10" required
            [ngClass]="{ 'is-invalid': LeadContact.touched && LeadContact.invalid}"
            pattern="[7-9]{1}[0-9]{9}">
        <div class="validation-error" *ngIf="LeadContact.touched && LeadContact.invalid">

            <div *ngIf="LeadContact.errors.required">Contact is required</div>

        </div>
    </div>



    <!-- Lead Email  -->
    <div class="form-group">

        <label for="email">Email</label>

        <input type="email" name="LeadEmail" #LeadEmail="ngModel" [(ngModel)]="leadService.formData.LeadEmail"
            class="form-control" placeholder="Enter your Email " required
            [ngClass]="{ 'is-invalid': LeadEmail.touched && LeadEmail.invalid}"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <div class="validation-error" *ngIf="LeadEmail.touched && LeadEmail.invalid">

            <div *ngIf="LeadEmail.errors.required">Email is required</div>

        </div>
    </div>

            <!-- Lead Status  -->
        <div class="form-group">

            <label for="LeadStatus"></label>
    
            <input type="hidden" name="LeadStatus" #LeadStatus="ngModel" [(ngModel)]="leadService.formData.LeadStatus"
                class="form-control"
                >
        </div>

    <!-- Query  -->
    <div class="form-group">
        <label for="Query">Query</label>
        <textarea name="Query" id="Query" cols="20" rows="7" #Query="ngModel"
            [(ngModel)]="resourceEnquiryService.formData.Query" class="form-control" placeholder="Enter your Query for this resource "
            [ngClass]="{ 'is-invalid': Query.touched && Query.invalid}"></textarea>
        <div class="validation-error" *ngIf="Query.touched && Query.invalid">
        </div>

    </div>

        <!-- Enquiry Date  -->
        <div class="form-group">

            <label for="EnquiryDate"></label>
    
            <input type="hidden" name="EnquiryDate" #EnquiryDate="ngModel" [(ngModel)]="resourceEnquiryService.formData.EnquiryDate"
                class="form-control"
                >
        </div>

    

    <!-- Submit button  -->
    <br>
    <div class="form-group">
        <button type="submit" [disabled]="!(form.valid && form.dirty)"
            class="btn btn-lg btn-success form-control">Submit

        </button>
    </div>





</form>
</div>
<br>
<br>

<br>
<br>


<app-user-footer></app-user-footer>
</body>