<header *ngIf=this.IsAdmin()>
    
  
      
    <app-adminnav></app-adminnav>
  </header>


  <header *ngIf=this.IsManager()>
    
      <app-managernav></app-managernav> 
    </header>

<br>
<br>
<br>
    <br>
    <br>
<div class="container">
    <div class="header">
        <h5>Resource Details</h5>
        <div class="form-group">
             <input type="text" class="form-control" placeholder="Search here..." 
             [(ngModel)]="filter">
        </div>
        <br>
        
        <a  [routerLink]="['resource']" class="btn btn-success" style="float: right;margin-bottom:10px;" *ngIf=this.IsAdmin()>Add Resource</a>
    </div>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Resource ID</th>
                <th>Resource Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Is Public</th>
                <th>Availability</th>
                <th *ngIf=this.IsAdmin()>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of resourceService.resources| filter:filter | paginate: {itemsPerPage:5, currentPage:page}" >
                <td (click)="populateForm(res)">{{res.ResourceId}}</td>
                <td (click)="populateForm(res)">{{res.ResourceName}}</td>
                <td (click)="populateForm(res)">{{res.ResourceDescription}}</td>
                <td (click)="populateForm(res)">{{res.ResourceCost}}</td>
                <td (click)="populateForm(res)">{{res.IsPublic}}</td>
                <td (click)="populateForm(res)">{{res.IsAvailable}}</td>
                <td *ngIf=this.IsAdmin()>
                    <button class="btn btn-sm  btn-outline-danger" (click)="deleteResource(res.ResourceId)">Delete</button>&nbsp;
                    <button class="btn btn-sm btn-info" (click)="updateResource(res.ResourceId)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <!--pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
</div>
