<body>
<app-user-nav></app-user-nav>
  <br>
<br>

<br>
<br>
<div class="container">
    <div class="boarder">
        <h3>
            Login
        </h3>
        <!--Reative form-->
        <div>
            <form [formGroup]="loginForm"  class="form-group" (ngSubmit)="LoginCredentials()">
                <div>
                    <label>User Name </label>
                    <input type="text" formControlName="UserName" placeholder="Enter User name" autocomplete="off"  class="form-control">
                </div>
                <div *ngIf=" isSubmitted&&formControls.UserName.errors">
                    <div *ngIf="formControls.UserName.errors.required" style="color: red;">

                        User Name required

                    </div>
                </div>


                <!--password-->
                <div>
                    <label>Password </label>
                    <input type="Password" formControlName="Password" placeholder="Enter password" autocomplete="off"  class="form-control">
                </div>
                <div *ngIf=" isSubmitted&&formControls.Password.errors">
                    <div *ngIf="formControls.Password.errors.required" style="color: red;">

                        Password required

                    </div>
                </div>
                <div class="valid-feedback d-block text-danger" >

               <p >{{this.errormessage}}</p> 

                </div>

                <!--Submit-->
                <br>
                <div>
                    <button class="btn btn-outline-success"><span><i class="fa fa fa-sign-in "></i></span> Login</button>
                </div>
               
            </form>
        </div>


    </div>
</div>
<br>
<br>

<br>
<br>


<app-user-footer></app-user-footer>
</body>
