
<header>
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-success " href="/admin">GEO INFOTECH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink='/admin' href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/courses' href="#">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href=""  routerLink='/resourcelist'tabindex="-1" aria-disabled="true">Resources</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Enquiry
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="resourcepipeline">Resource Enquiry</a></li>
              <li><a class="dropdown-item" href="coursepipeline">Course Enquiry</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href=""  routerLink='/pagevisit'tabindex="-1" aria-disabled="true">Page Visit</a>
          </li>
        </ul>
       
          <button class="btn btn-outline-success" (click)="LogOut()"type="submit">Logout</button>
      </div>
    </div>
  </nav>
    
</header>

<div class="container-fluid">
    <h5 class="text-center">
        Welcome {{loggedUserName}}

    </h5>
</div>
